# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/app/__pycache__/

# InvenioRDM backend files
invenio/data/
invenio/.env
invenio/.env.local
invenio/*.pyc
invenio/__pycache__/
invenio/**/__pycache__/
invenio/**/*.pyc
invenio/**/*.pyo
invenio/**/*.pyd
invenio/.Python
invenio/**/*.so
invenio/**/*.egg
invenio/**/*.egg-info/
invenio/dist/
invenio/build/
invenio/.coverage
invenio/htmlcov/
invenio/.tox/
invenio/.pytest_cache/
invenio/.mypy_cache/
invenio/.dmypy.json
invenio/dmypy.json
